<h2  style="padding-left: 20px;padding-top: 10px; margin-bottom: 0px;">Certifications</h2>
<mat-list role="list">
    <mat-list-item matRipple role="listitem">
        <a target="_blank"
            href="https://learn.microsoft.com/en-us/users/mukundkatpatal-2280/credentials/d6e580d759904196">
            Microsoft Certified Azure Fundamentals (Jan 2024)
        </a>
    </mat-list-item>
    <mat-list-item matRipple role="listitem">
        <a target="_blank" href="https://www.credly.com/badges/1a0a260e-b67a-42f8-89ae-f0f718462116/linked_in_profile">
            SAFe® 6 Scrum Master (2023)
        </a></mat-list-item>
    <mat-list-item matRipple [activated]="true" role="listitem">
        <a target="_blank" href="https://my.securityjourney.com/api/certificates/3fZse99RxzP5cdhpsM7M2s/boeing">
            Security Journey White Belt
        </a>
    </mat-list-item>
</mat-list>
<h2 style="padding-left: 20px;padding-top: 10px; margin-bottom: 0px;">Trainings</h2>
<mat-list role="list">
    <mat-list-item matRipple role="listitem">
        <a target="_blank"
            href="https://app.pluralsight.com/achievements/share/5d9ebbd8-78c1-4a24-8f52-a9e6c02f1b82">
            Platform Engineering
        </a>
    </mat-list-item>
    <mat-list-item matRipple role="listitem">
        <a target="_blank" href="https://www.credly.com/badges/1a0a260e-b67a-42f8-89ae-f0f718462116/linked_in_profile">
            SAFe® 6 Scrum Master (2023)
        </a></mat-list-item>
    <mat-list-item matRipple [activated]="true" role="listitem">
        <a target="_blank" href="https://my.securityjourney.com/api/certificates/3fZse99RxzP5cdhpsM7M2s/boeing">
            Security Journey White Belt
        </a>
    </mat-list-item>
</mat-list>