<div style="padding: 20px;">
    <mat-grid-list cols="4" rowHeight="3:2">
        <mat-grid-tile>
            <a href="https://learn.microsoft.com/en-us/users/mukundkatpatal-2280/credentials/d6e580d759904196" target="_blank">
                <mat-card matRipple class="profile-card" appearance="raised" style="width: 300px;">
                    <div style="text-align: center;background-color: #2F2F2F0F;width: 100%;height: 100%;">
                        <img mat-card-image src="./assets/microsoft-certified-fundamentals-badge.svg" 
                            style="height:10%;width: 50%;"
                            alt="Certification">
                    </div>
                    <mat-card-footer>
                        <mat-card-title style="text-align: center;">Microsof Azure Fundamentals</mat-card-title>
                        <mat-card-subtitle style="text-align: center;">(2024)</mat-card-subtitle>
                    </mat-card-footer>
                </mat-card>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="https://www.credly.com/badges/1a0a260e-b67a-42f8-89ae-f0f718462116/linked_in_profile" target="_blank">
                <mat-card matRipple class="profile-card" appearance="raised" style="width: 300px;">
                    <div style="text-align: center;background-color: #2F2F2F0F;width: 100%;height: 100%;">
                        <img mat-card-image src="./assets/safe6.0.png" 
                            style="height:10%;width: 50%;"
                            alt="Certification">
                    </div>
                    <mat-card-footer>
                        <mat-card-title style="text-align: center;">SAFe® 6 Scrum Master  </mat-card-title>
                        <mat-card-subtitle style="text-align: center;">(2023)</mat-card-subtitle>
                    </mat-card-footer>
                </mat-card>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="https://my.securityjourney.com/api/certificates/3fZse99RxzP5cdhpsM7M2s/boeing" target="_blank">
                <mat-card matRipple class="profile-card" appearance="raised" style="width: 300px;">
                    <div 
                        style="text-align: center;
                        background-color: #2F2F2F0F;
                        width: 100%;
                        height: 156px;
                        vertical-align: middle; 
                        justify-content: center;
                        align-items: center;
                        display: flex;">
                        <img mat-card-image src="./assets/securityjourney.png"
                            style="max-height: 100%;max-width: 156px"
                            alt="Certification">
                    </div>
                    <mat-card-footer>
                        <mat-card-title style="text-align: center;">Security Journey</mat-card-title>
                        <mat-card-subtitle style="text-align: center;">White Belt (2023)</mat-card-subtitle>
                    </mat-card-footer>
                </mat-card>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="https://app.pluralsight.com/achievements/share/5d9ebbd8-78c1-4a24-8f52-a9e6c02f1b82" target="_blank">
                <mat-card matRipple class="profile-card" appearance="raised" style="width: 300px;">
                    <div 
                        style="text-align: center;
                        background-color: #2F2F2F0F;
                        width: 100%;
                        height: 156px;
                        vertical-align: middle; 
                        justify-content: center;
                        align-items: center;
                        display: flex;">
                        <img mat-card-image src="./assets/1705170583876.jpeg"
                            style="max-height: 100%;max-width: 156px"
                            alt="Certification">
                    </div>
                    <mat-card-footer>
                        <mat-card-title style="text-align: center;">Platform Engineering</mat-card-title>
                        <mat-card-subtitle style="text-align: center;">The Big Picture: 2024</mat-card-subtitle>
                    </mat-card-footer>
                </mat-card>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="https://learn.microsoft.com/en-us/users/mukundkatpatal-2280/achievements/n76e67nf" target="_blank">
                <mat-card matRipple class="profile-card" appearance="raised" style="width: 300px;">
                    <div style="text-align: center;background-color: #2F2F2F0F;width: 100%;height: 100%;">
                        <img mat-card-image src="./assets/az-400-develop-sre-strategy.svg" 
                            style="height:10%;width: 50%;"
                            alt="Certification">
                    </div>
                    <mat-card-footer>
                        <mat-card-title style="text-align: center;">Microsoft Azure</mat-card-title>
                        <mat-card-subtitle style="text-align: center;">Develop a Site Reliability Strategy(2024)</mat-card-subtitle>
                    </mat-card-footer>
                </mat-card>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="https://skillsoft.digitalbadges.skillsoft.com/29a166c8-13ff-4d3a-a70b-5ae90ff4f389#gs.63thrs" target="_blank">
                <mat-card matRipple class="profile-card" appearance="raised" style="width: 300px;">
                    <div 
                        style="text-align: center;
                        background-color: #2F2F2F0F;
                        width: 100%;
                        height: 156px;
                        vertical-align: middle; 
                        justify-content: center;
                        align-items: center;
                        display: flex;">
                        <img mat-card-image src="./assets/skillsoft_logo.png"
                            style="max-height: 100%;max-width: 156px"
                            alt="Certification">
                    </div>
                    <mat-card-footer>
                        <mat-card-title style="text-align: center;">Stakeholder Communication</mat-card-title>
                        <mat-card-subtitle style="text-align: center;">Software Projects(2024)</mat-card-subtitle>
                    </mat-card-footer>
                </mat-card>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="https://skillsoft.digitalbadges.skillsoft.com/74c39820-799d-42cb-a0df-ddd6fdb5ed32#gs.63tu4g" target="_blank">
                <mat-card matRipple class="profile-card" appearance="raised" style="width: 300px;">
                    <div 
                        style="text-align: center;
                        background-color: #2F2F2F0F;
                        width: 100%;
                        height: 156px;
                        vertical-align: middle; 
                        justify-content: center;
                        align-items: center;
                        display: flex;">
                        <img mat-card-image src="./assets/skillsoft_logo.png"
                            style="max-height: 100%;max-width: 156px"
                            alt="Certification">
                    </div>
                    <mat-card-footer>
                        <mat-card-title style="text-align: center;">Site Reliability Engineering</mat-card-title>
                        <mat-card-subtitle style="text-align: center;">Software Projects(2024)</mat-card-subtitle>
                    </mat-card-footer>
                </mat-card>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="https://learn.microsoft.com/en-us/users/mukundkatpatal-2280/achievements" target="_blank">
                <mat-card matRipple class="profile-card" appearance="raised" style="width: 300px;">
                    <div style="text-align: center;background-color: #2F2F2F0F;width: 100%;height: 100%;">
                        <img mat-card-image src="./assets/microsoft-azure-fundamentals-describe-cloud-concepts.svg" 
                            style="height:10%;width: 50%;"
                            alt="Certification">
                    </div>
                    <mat-card-footer>
                        <mat-card-title style="text-align: center;">View My Learning Profile</mat-card-title>
                        <mat-card-subtitle style="text-align: center;">Microsoft Azure(2024)</mat-card-subtitle>
                    </mat-card-footer>
                </mat-card>
            </a>
        </mat-grid-tile>
       
    </mat-grid-list>
    
</div>