<div style="padding: 20px;">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <p>
                Hey there,
                I am Mukund Katpatal and welcome you with warmth to this online portfolio of mine.
                <br />
                I was born and brought up in India and living in the Netherlands since 2016.
                I like to call myself a student of Software Engineering, literature, philosophy and almost everything.
                My favorite sport is Test Cricket and chess.
                I like Hindustani Classical Music and I like to read.
                <br />
                I am father to a 12 year old chatterbox who I constantly have to take to tournaments all over the Netherlands.
            </p>
        </mat-grid-tile>
        <mat-grid-tile><img width="auto" height="100%" src="../../assets/Mukund.png" /></mat-grid-tile>
    </mat-grid-list>
</div>