<div style="padding: 20px;">
<h2>Technical Skills</h2>
<mat-chip-set aria-label="Technical Skills">
    <mat-chip>
        .Net Core
    </mat-chip>
    <mat-chip color="primary">
        C#
    </mat-chip>
    <mat-chip color="accent">
        SQL Server
    </mat-chip>
    <mat-chip color="accent">
        Angular 17
    </mat-chip>
    <mat-chip color="accent">
        Typescript
    </mat-chip>
    <mat-chip color="accent">
        rxjs
    </mat-chip>
    <mat-chip color="accent">
        ngrx
    </mat-chip>
    <mat-chip color="accent">
        Micro Services Architecture
    </mat-chip>
    <mat-chip color="accent">
        System Design
    </mat-chip>
    <mat-chip color="accent">
        Azure DevOps/Microsoft Azure
    </mat-chip>
    <mat-chip color="accent">
        Docker/Containerization
    </mat-chip>
    <mat-chip color="accent">
        Site Reliability Engineering
    </mat-chip>
    <mat-chip color="accent">
        Test Driven Development
    </mat-chip>
    <mat-chip color="accent">
        Agile Methodologies
    </mat-chip>
</mat-chip-set>
<br />
<h2>Soft Skills</h2>
<mat-chip-set aria-label="Technical Skills">
    <mat-chip>
        Curious
    </mat-chip>
    <mat-chip>
        Courage
    </mat-chip>
    <mat-chip>
        Humility
    </mat-chip>
    <mat-chip>
        Stakeholder Management
    </mat-chip>
    <mat-chip color="primary">
        Customer Focus
    </mat-chip>
    <mat-chip color="accent">
        Team Management
    </mat-chip>
    <mat-chip color="accent">
        Influencing
    </mat-chip>
    <mat-chip color="accent">
        Empathy
    </mat-chip>
    <mat-chip color="accent">
        Conflict Resolution
    </mat-chip>
    <mat-chip color="accent">
        Emotional Intelligence
    </mat-chip>
    <mat-chip color="accent">
        Adaptability
    </mat-chip>
    <mat-chip color="accent">
        Problem Solving
    </mat-chip>
    <mat-chip color="accent">
        An economic mindset
    </mat-chip>
</mat-chip-set>
</div>