
@use '@angular/material' as mat;

.list-item {
    @include mat.elevation-transition();

    &:hover {
      cursor: pointer;
      @include mat.elevation(8);
    }
}
a.mdc-list-item:hover{
    background-color: rgb(240, 237, 237);
    cursor: pointer;
  }