<div style="padding: 20px;">
    <p>
        I am a tenacious problem attacker with a strong technical aptitude and a passion for addressing
        organizational challenges using my technical and interpersonal skills.
    </p>
    <p>
        Over 18 years of career in software industry, I have assumed roles progressing from Software Engineer to
        positions such as
    </p>
        <mat-list>
            <mat-list-item class="list-item" matRipple [activated]="true">Senior Software Engineer</mat-list-item>
            <mat-list-item class="list-item" matRipple [activated]="true">Technical Lead</mat-list-item>
            <mat-list-item class="list-item" matRipple [activated]="true">Scrum Master</mat-list-item>
            <mat-list-item class="list-item" matRipple [activated]="true">Technical Product Owner</mat-list-item>
            <mat-list-item class="list-item" matRipple [activated]="true">Software Engineering Manager (present)</mat-list-item>
        </mat-list>
    <p>
        My experience has taught me the importance of continuous learning, pragmatism, the value of soft skills,
        adaptability, and the essence of simplicity.
        Using my soft skills, I bring
    </p>
    <mat-list>
        <mat-list-item class="list-item" matRipple [activated]="true">
            Servant Leadership, Mentoring, Team Management</mat-list-item>
        <mat-list-item class="list-item" matRipple [activated]="true">Concise and effective communication</mat-list-item>
        <mat-list-item class="list-item" matRipple [activated]="true">Building a team and its culture</mat-list-item>
        <mat-list-item class="list-item" matRipple [activated]="true">Stakeholder Management</mat-list-item>
        <mat-list-item class="list-item" matRipple [activated]="true">Customer Focus</mat-list-item>
        <mat-list-item class="list-item" matRipple [activated]="true">Critical Thinking</mat-list-item>
    </mat-list>
</div>