<mat-list role="list">
    <mat-list-item matRipple>
        Pride&#64;Boeing (2022)
    </mat-list-item>
    <mat-list-item matRipple>
        Pride&#64;Boeing (2021)
    </mat-list-item>
    <mat-list-item matRipple>
        Pride&#64;Boeing (2020)
    </mat-list-item>
    <mat-list-item matRipple>
        Going An Extra Mile Symphony Teleca (2012)
    </mat-list-item>
    <mat-list-item matRipple>
        Hall Of the Fame Award (2010)
    </mat-list-item>
    <mat-list-item matRipple>
        Going An Extra Mile, United Software Associates (2008)
    </mat-list-item>
</mat-list>
