<div style="padding: 0px;">
    <mat-grid-list cols="4" rowHeight="3:2">
        <mat-grid-tile>
            <a href="./assets/AWARD-2020.pdf" target="_blank">
                <mat-card matRipple class="profile-card">
                    <mat-card-header>
                        <mat-card-title>
                            Pride&#64;Boeing
                        </mat-card-title>
                        <mat-card-subtitle>(2020)</mat-card-subtitle>
                    </mat-card-header>
                    <div style="text-align: center;background-color: #2F2F2F0F;width: 100%;height: 100%;">
                        <img mat-card-image src="./assets/PrideImage.PNG" style="height:50%;width: 50%;"
                            alt="Award">
                    </div>
                </mat-card>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="./assets/Award-21.pdf" target="_blank">
                <mat-card matRipple class="profile-card">
                    <mat-card-header>
                        <mat-card-title>Pride&#64;Boeing</mat-card-title>
                        <mat-card-subtitle>(2021)</mat-card-subtitle>
                    </mat-card-header>
                    <div style="text-align: center;background-color: #2F2F2F0F;">
                        <img mat-card-image src="./assets/PrideImage.PNG" style="height:50%;width: 50%;"
                            alt="Award">
                    </div>

                </mat-card>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="./assets/award-22.pdf" target="_blank">
                <mat-card matRipple class="profile-card">
                    <mat-card-header>
                        <mat-card-title>Pride&#64;Boeing</mat-card-title>
                        <mat-card-subtitle>(2022)</mat-card-subtitle>
                    </mat-card-header>
                    <div style="text-align: center;background-color: #2F2F2F0F;">
                        <img mat-card-image src="./assets/PrideImage.PNG" style="height:50%;width: 50%;"
                            alt="Award">
                    </div>
                </mat-card>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="./assets/award-SD-2024.pdf" target="_blank">
                <mat-card matRipple class="profile-card">
                    <mat-card-header>
                        <mat-card-title>Certificate of Recognition</mat-card-title>
                        <mat-card-subtitle>(2024)</mat-card-subtitle>
                    </mat-card-header>
                    <div style="text-align: center;background-color: #2F2F2F0F;">
                        <img mat-card-image src="./assets/PrideImage.PNG" style="height:50%;width: 50%;"
                            alt="Award">
                    </div>
                </mat-card>
            </a>
        </mat-grid-tile>

        <mat-grid-tile>
            <div mat-raised-button>
                <mat-card matRipple class="profile-card">
                    <mat-card-header>
                        <mat-card-title>Going an Extra Mile</mat-card-title>
                        <mat-card-subtitle>Harman Kardon (2012)</mat-card-subtitle>
                    </mat-card-header>
                    <div style="text-align: center;background-color: #2F2F2F0F;">
                        <img mat-card-image src="./assets/Award.svg" style="height:68px; width: 275px;"
                            alt="Award">
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div mat-raised-button>
                <mat-card appearance="raised" matRipple class="profile-card">
                    <mat-card-header>
                        <mat-card-title>Going an Extra Mile</mat-card-title>
                        <mat-card-subtitle>Harman Kardon (2012)</mat-card-subtitle>
                    </mat-card-header>
                    <div style="text-align: center;background-color: #2F2F2F0F;">
                        <img mat-card-image src="./assets/Award.svg" style="height:68px; width: 275px;"
                            alt="Award">
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <mat-card appearance="raised" matRipple class="profile-card">
                    <mat-card-header>
                        <mat-card-title>Going an Extra Mile</mat-card-title>
                        <mat-card-subtitle>Harman Kardon (2012)</mat-card-subtitle>
                    </mat-card-header>
                    <div style="text-align: center;background-color: #2F2F2F0F;">
                        <img mat-card-image src="./assets/Award.svg" style="height:68px; width: 275px;"
                            alt="Award">
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <a target="_blank">
                <mat-card appearance="raised" matRipple class="profile-card">
                    <mat-card-header>
                        <mat-card-title>Hall of the Fame Award</mat-card-title>
                        <mat-card-subtitle>Harman Kardon (2012)</mat-card-subtitle>
                    </mat-card-header>
                    <div style="text-align: center;background-color: #2F2F2F0F;">
                        <img mat-card-image src="./assets/Award.svg" style="height:68px; width: 275px;"
                            alt="Award">
                    </div>
                </mat-card>
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</div>