/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;

a.mdc-list-item:hover{
    background-color: rgb(240, 237, 237);
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p {
    font-size: 16px;
    line-height: 28px;
}
